@import "tailwindcss";

:root {
  --foreground: #ffffff;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 58%);
  background-size: 200% 300%;
  animation: gradient 20s ease infinite;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@theme inline {
  --color-background: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  --color-foreground: var(--foreground);
  --font-sans: var(--font-doto);
  --font-mono: var(--font-doto);
}

body {
  color: var(--foreground);
  font-family: var(--font-doto), sans-serif;
}

.gradient {
  backdrop-filter: brightness(1.01);
}
